services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "1235:80"
    volumes:
      - .:/var/www/myphpapp
    depends_on:
      - php
    networks:
      - app-network

  php:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /var/www/myphpapp
    volumes:
      - .:/var/www/myphpapp
    depends_on:
      - mysql
    environment:
      DB_HOST: flictix-mysql
      DB_NAME: flictix_webb
      DB_USER: root
      DB_PASSWORD: password
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: flictix-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: flictix_webb
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3308:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8085:80"
    environment:
      PMA_HOST: flictix-mysql
      MYSQL_ROOT_PASSWORD: password
    depends_on:
      - mysql
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
